*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}

@media (max-width:600px) {
/*  Top nav desing  */
    .top-nav{
        flex-direction: column;
    }
    .top-nav .top-left a, .top-nav .top-right{
        font-size: 14px;
        margin: 10px 0;
       }
    /* <!-- navbar header -->  */
    nav{
        flex-direction: column;
        margin: 13px;
    }
    .nav-icon i{
        font-size: 6vw;
        padding: 7px;
        align-items: center;
        margin: 3px;
    }

    nav h2{
        font-size: 6vw;
        margin:20px;
    }
    nav button{
        font-size: 5.3vw;
        padding:10px 20px;
    }
    .menu-icon i{
        font-size: 30px;
        margin: 10px;
    }
    .nav-bar a{
        display: none;
    }
    .menu-icons button{
        height: 20px;
        width: 40px;
    }
    .menu-icons button::before{
        height: 100%;
        width: 15px;
    }
    .menu-icon i:nth-child(2){
        display: inline-block;
        background-color: #FF376C;
    }

    /* Banner */
    .banner{
        flex-direction: column;
        margin: 4vw;
        
    }
   .banner-left, .banner-right{
    width: calc(100% - 40px) ;
    margin:0 20px;
    margin-top: 20px;

   }
  
   .banner-right button{
    font-size: 2vw;
    padding: 1vw 2vw;
   }
   .banner-right h2{
    font-size: 6vw;
    font-weight: 600;
   }
   .banner-right p{
    font-size: 3.5vw;
    font-weight: 500;
}

.banner-date h4{
    font-size: 2.5vw;
}
.banner-date h4 i{
    font-size: 2vw;
    align-items: center;
}
/* Main Contant */
.main-content{
    flex-direction: column;
}
.suresh{
    width: 100%;
    margin: 10px 0;

}
.left-content{
    margin: 10px 0;
}
.content-box{
    flex-direction: column;
    

}

.box1{
    width: calc(100% - 4vw);
    margin: 0 4vw;
}
.right-content{
    width: 100%;
}
/*  */
.left-content .lf-btn{
    padding: 10px 20px;
    font-size: 3vw;
}
.left-content h2{
    font-size: 4vw;
}
.content-icon h4{
    font-size: 2vw;
}
.left-content p{
    font-size: 3vw;
}
.content-btn a, .content-btn h4{
    font-size: 3.3vw;
}
.trending h2, .trending span i{
 font-size: 4vw;
 margin-bottom: 2vw;
}
.tranding-post .tranding-image img{
    width:18vw;
    height: 18vw;
}
.tranding-conten button{
    padding: 1vw 1.5vw;
}
.tranding-conten h2{
    font-size: 4vw;
}

.auther-info h2{
    font-size: 4vw;
}
.auther-info img{
    margin: 20px 20vw;
    width: 50%;
    height: 40vw;
}
.auther-info .info h2{
    font-size: 6vw;
    font-weight: 800;
}
.auther-info .info p{
    font-size: 4vw;
}

}
