*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background-color:var(--bg-color);

  

}
/* DropDown */
.boxx{
    display: flex;
}
.dropdown{
  
    position: relative;
}
.drop{
    position: absolute;
    display: none;
    background: var(--nav-color);
    padding: 10px;
    width: 160px;
    border-radius: 20px;
}
.dropdown .drop a{
 font-size: 20px;
 line-height: 40px;
}
.dropdown:hover .drop{
    display: block;
}
/*  */
:root{
    --body-color:#efefef ;
    --text-color: #000;
    --bg-color:#fff;
    --left-bg:#fff;
    --body-colors:white ;
    --nav-color:#fff;
 }
 /* bg change */
 .dark-teme{
     --body-color:#0a0a0a ;
     --text-color: #fff;
     --left-bg: #1C1C1C;
     --bg-color:#303030;
     --body-colors:#0a0a0a ;
     --nav-color:#0a0a0a;
 }
section{
    padding: 10px 0px;
}
.main-section{
    /* height: 100%; */
    width: 100%;
    background-color:var(--body-color);
}

#main{
    background-color: var(--body-colors);
}
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 1vw 2vw;
    background-color: #EE1D52;
}
.top-nav .top-left a, .top-nav .top-right{
 text-decoration: none;
 font-weight: 500;
 color: white;
 margin-right: 6px;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
}


/* <!-- navbar header --> */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 0;
    margin: 0 2vw;
}

.nav-icon i{
    color : white;
    background-color: #FF376C;
    padding: .5vw;
    border-radius: 50%;
    font-size: 1.5vw;
}
.nav-icon i:nth-child(1)
{
    background-color: #25D366;

}
.nav-icon i:nth-child(2)
{
    background-color:#EE1D52;
}
.nav-icon i:nth-child(3)
{
    background-color: #C32AA3;
}
.nav-icon i:nth-child(4)
{
    background-color: #28A4E4;
}

nav h2{
    font-size: 2.6vw;
    font-weight: 900;
    color: var(--text-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

nav button{
    background-color: #FF376C;
    color: var(--text-color);
    padding: 1vw 2vw;
    border-radius: 20px;
    font-size: 1.3vw; 
    border-width: 0;
}
nav button i{
    color: var(--text-color);
    margin-right:3px ;
}


/* <!-- navbar main menu --> */
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 0 2vw;
    align-items: center;
    padding: 1vw 0 ;
}

.menu-icon i{
    font-size: 1.8vw;
    color: var(--text-color);
}
.menu-icon i:nth-child(2){
    display: none;
}
.nav-bar a{
    font-size: 1.4vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 1vw;
    text-decoration: none;
    font-weight: 800;
    color: var(--text-color);

}


/* .......................... */
.btn-icons{
    display: flex;
    align-items: center;
}
.btn-icons i{
    font-size: 2vw;
    margin:0 20px;
    color: var(--text-color);
}
#dark-btn{
   
    resize: 20px;
    background: #000;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;

    transition: padding-left 0.5s, background 0.5s;
    border: 1px solid black;
    
}
#dark-btn span{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display:inline-block;
}
/* left to rignt */
#dark-btn.dark-btn-on{
    padding-left: 23px;
    background: #ccc;
    border: 1px solid white;

}
/* BANNER */
.banner{
    display: flex;
    justify-content: center;
    margin: 3vw 2vw;
    background-color:var(--bg-color);
    border-radius: 3vw;
    box-shadow: 1px 1px 10px rgb(122, 120, 120);


}
.banner-left{
    width: 50%;
    margin: 1.4vw;
    height: 100%;
}
.banner-left img{
    width: 100%;
    height: 100%;
    border-radius: 2vw;

}

.banner-right{
    width: 50%;
    height: 100%;
    margin: 2vw;
}
.banner-right button{
    border-width: 0;
    border-radius: 40px;
    font-size: 1.5vw;
    color:#fff;
    background-color: #EE1D52;
    padding: 0.6vw 1.3vw;
}
.banner-right h2{
    font-size: 4vw;
    font-weight: 800;
    margin: 2vw 0;
    color: var(--text-color);
}
.banner-right p{
    font-size: 1.5vw;
    margin-bottom: 2vw;
    font-weight: 500;
    color: var(--text-color);

}
.banner-date{
    display: flex;
    align-items: center;
    margin-top: 2vw;
}
.banner-date h4{
    margin-right: 4vw;
    font-size: 1vw;
    color: var(--text-color);

}
.banner-date i{
    margin-right: .2vw;
    color: var(--text-color);

}

/* Main Content */
.main-content{
    display: flex;
    position: relative;
    width: 100%;
    background-color: var(--body-color);
}
.box1{

    width: 50%;
    margin: 0 10px;
}
.suresh{
    width: 70%;
}
.content-box{
    display: flex;
    margin: 20px;
}
.left-content{
    /* box-shadow: 1px 1px 10px rgb(122, 120, 120); */


    width:100%;
    background-color:var(--bg-color);
    border-radius: 20px;

}

.left-content .content-image{
    width: calc(100% - 34px);
    height: 100%;
}
.left-content .content-image img{
  width: 100%;
  height: 100%;
  margin: 18px;
  border-radius: 10px;


}
.left-content .lf-btn{
    background-color: #EE1D52;
    border-width: 0;
    padding: .3vw .4vw;
    font-size: 1.2vw;
    border-radius: 20px;
    color: white;
    margin:0 18px;

}
.left-content h2{
    margin: 18px;
    font-size: 2vw;
    font-weight: 900;
    color: var(--text-color);
}


.content-icon{
    display: flex;
    justify-content: space-between;
    color: var(--text-color);

}
.content-icon h4{
    color: var(--text-color);

    font-size: .9vw;
    margin:0 18px;
    display: flex;
}
.left-content p{
    color: var(--text-color);

    font-size: 1.3vw;
    font-weight: 900;
    line-height: 1.3rem;
   margin:10px 18px;
}
.content-btn{
    margin: 0px 18px;
    display: flex;
    align-items: center;
justify-content: space-between;
}
.content-btn a, .content-btn h4{
    color: var(--text-color);

    text-decoration: none;
    font-size: 1.3vw;
}
.content-btn a, .content-btn h4{
    margin-bottom: 18px;
    margin-top: 10px;
}

.left-content hr{
    margin: 0 18px;
}

.right-content{
    width: 30%; 
}

/* Tranding post */
.post{
    background-color: var(--left-bg);
    margin:0 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(122, 120, 120);

}
.mag{
    margin: 17px;
    padding: 18px 0;
}
.trending{
    color: var(--text-color);
}
.trending{
   
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.trending span i{
    font-size: 2vw;
    border: 1px solid var(--text-color);
    margin: 4px;
    color: var(--text-color);
}
.tranding-post{
    display: flex;
    align-items: center;
    position: relative;
}
.tranding-post .tranding-image img{
    width:8vw;
    height: 8vw;
    border-radius: 20px;
    margin: 12px 0;
    overflow: hidden;
}
.tranding-post .tranding-image .num{
    height: 30px;
    width: 30px;
    background-color:#EE1D52;
    position: absolute;
    bottom: 16px;
    left: 0;
    border-bottom-left-radius: 20px;
    text-align: center;
    padding-top: 5px;
    color: wheat;
}
.tranding-conten{
    margin-left: 13px;
}
.tranding-conten button{
    background-color: #C32AA3;
    color: #fff;
    padding: .5vw 1vw;
    border-width: 0px;
    border-radius: 20px;
}
.tranding-conten h2{
font-size: 1.3vw;
margin: 20px 0;
color: var(--text-color);
}
/* Author Info */
.auther-info{
    background-color: var(--left-bg);
    padding: 18px;
    border-radius: 20px;
    margin: 18px;
    box-shadow: 1px 1px 10px rgb(122, 120, 120);

    color: var(--text-color);

}
.auther-info h2{
    font-size: 2.3vw;
    margin-bottom: 1vw;
    font-weight: 800;
}
.auther-info .info{
    background-color: var(--left-bg);

  
}
.auther-info img{
    width: 50%;
    height: 12vw;
    border-radius: 50%;
    margin: 20px 6vw;
}
.auther-info .info h2
{
    text-align: center;
    font-size: 2vw;
    font-weight: 800;

}
.auther-info .info p{
    text-align: center;
    font-size: 1.2vw;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0 18px;
    
}
/* Recent Posts */
.recent-post{
    background-color: var(--left-bg);
color: var(--text-color);
    margin: 18px;
    border-radius: 20px;
    padding: 18px;
    box-shadow: 1px 1px 10px rgb(122, 120, 120);


}
.recent-post h2{
    font-size: 2vw;
    margin-bottom: 1.4vw;

}

.recent-post span {
    display: flex;
    font-size: 1.5vw;
    margin-right: 20px;
    padding: 10px 0;
}
.recent-post span p{
    margin-left: 10px;
}
.recent-post span i{
    font-size: 20px;
    
}
/* Creative page */
.creative{
    display: flex;
    background-color: var(--left-bg);
    margin: 20px;
    padding: 20px 10px;
    border-radius: 20px;
    color: var();
    box-shadow: 1px 1px 10px rgb(122, 120, 120);


}
.creative p{
    font-size: 2vw;
    font-weight: 900;
    padding-left: 20px;
    border-left: 8px solid #EE1D52;
    margin-left: 20px;
    color: var(--text-color);
}
.creatives{
    display: flex;
    background-color: var(--left-bg);

    margin:6px 20px;
    margin-top: 20px;
    padding: 15px 40px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(122, 120, 120);

    color: var(--text-color);

}
.creatives a{
    font-size: 1vw;
    text-decoration: none;
    margin:0 10px;
    color: var(--text-color);
}
/* Footer */
footer{
    width: 100%;
   
}
.main-footer{
padding: 40px;
}
.main-footer, .footer-post span{

display: flex;
justify-content: center;
align-items: center;
background-color: #000;
color: white;
font-size: 1.3vw;
}
.footer-post{
    width:40%;
    margin: 2vw;
}
.footer-post span i{
   padding: 1.2vw;
    
}
.video{
    width: 30%;
}
.video iframe{
   width: 100%;
}
.meta{
margin:0 50px;
 width: 30%;
}
.meta h2{
font-size: 3vw;
}
.meta p{
    margin: 1vw 0;
    font-size: 2vw;
    margin-right: 1vw;
}

/* Show and hide*/
/* ...................... */

.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    height:100vh;
    background:var(--bg-color);
    border-radius: 4px;
    overflow: scroll;
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 111;
    /* js */
    max-width: 0;
    transition:  max-width 0.3s;    
}
/* for drop down start */
.settings-menu-height{
    max-width: 400px;
}
/* for dropdown end */

.settings-menu::-webkit-scrollbar {
    width: 6px;
  }
  
  .settings-menu::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .settings-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
  }