*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background-color:var(--bg-color);



}

:root{
    --body-color:#efefef ;
    --text-color: #000;
    --bg-color:#fff;
    --left-bg:#fff;
    --body-colors:white ;
 }
 /* bg change */
 .dark-teme{
     --body-color:#0a0a0a ;
     --text-color: #fff;
     --left-bg: #1C1C1C;
     --bg-color:#303030;
     --body-colors:#0a0a0a ;
 }
section{
    padding: 10px 0px;
}
.main-section{
    /* height: 100%; */
    width: 100%;
    background-color:var(--body-color);
}

#main{
    background-color: var(--body-colors);
}
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 1vw 2vw;
    background-color: #EE1D52;
}
.top-nav .top-left a, .top-nav .top-right{
 text-decoration: none;
 font-weight: 500;
 color: white;
 margin-right: 6px;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
}


/* <!-- navbar header --> */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 0;
    margin: 0 2vw;
}

.nav-icon i{
    color : white;
    background-color: #FF376C;
    padding: .5vw;
    border-radius: 50%;
    font-size: 1.5vw;
}
.nav-icon i:nth-child(1)
{
    background-color: #25D366;

}
.nav-icon i:nth-child(2)
{
    background-color:#EE1D52;
}
.nav-icon i:nth-child(3)
{
    background-color: #C32AA3;
}
.nav-icon i:nth-child(4)
{
    background-color: #28A4E4;
}

nav h2{
    font-size: 2.6vw;
    font-weight: 900;
    color: var(--text-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

nav button{
    background-color: #FF376C;
    color: var(--text-color);
    padding: 1vw 2vw;
    border-radius: 20px;
    font-size: 1.3vw; 
    border-width: 0;
}
nav button i{
    color: var(--text-color);
    margin-right:3px ;
}


/* <!-- navbar main menu --> */
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 0 2vw;
    align-items: center;
    padding: 1vw 0 ;
}

.menu-icon i{
    font-size: 1.8vw;
    color: var(--text-color);
}
.menu-icon i:nth-child(2){
    display: none;
}
.nav-bar a{
    font-size: 1.4vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 1vw;
    text-decoration: none;
    font-weight: 800;
    color: var(--text-color);

}


/* .......................... */
.btn-icons{
    display: flex;
    align-items: center;
}
.btn-icons i{
    font-size: 2vw;
    margin:0 20px;
    color: var(--text-color);
}
#dark-btn{
   
    resize: 20px;
    background: #000;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;

    transition: padding-left 0.5s, background 0.5s;
    border: 1px solid black;
    
}
#dark-btn span{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display:inline-block;
}
/* left to rignt */
#dark-btn.dark-btn-on{
    padding-left: 23px;
    background: #ccc;
    border: 1px solid white;

}
/* BANNER */
.banner{
    display: flex;
    justify-content: center;
    margin: 3vw 2vw;
    background-color:var(--bg-color);
    border-radius: 3vw;
    box-shadow: 1px 1px 10px rgb(122, 120, 120);


}
.banner-left{
    width: 50%;
    margin: 1.4vw;
    height: 100%;
}
.banner-left img{
    width: 100%;
    height: 100%;
    border-radius: 2vw;

}

.banner-right{
    width: 50%;
    height: 100%;
    margin: 2vw;
}
.banner-right button{
    border-width: 0;
    border-radius: 40px;
    font-size: 1.5vw;
    color:#fff;
    background-color: #EE1D52;
    padding: 0.6vw 1.3vw;
}
.banner-right h2{
    font-size: 4vw;
    font-weight: 800;
    margin: 2vw 0;
    color: var(--text-color);
}
.banner-right p{
    font-size: 1.5vw;
    margin-bottom: 2vw;
    font-weight: 500;
    color: var(--text-color);

}
.banner-date{
    display: flex;
    align-items: center;
    margin-top: 2vw;
}
.banner-date h4{
    margin-right: 4vw;
    font-size: 1vw;
    color: var(--text-color);

}
.banner-date i{
    margin-right: .2vw;
    color: var(--text-color);

}

/* Main Content */
.main-content{
    display: flex;
    position: relative;
    width: 100%;
    background-color: var(--body-color);
}
.box1{

    width: 50%;
    margin: 0 10px;
}
.suresh{
    width: 70%;
}
.content-box{
    display: flex;
    margin: 20px;
}
.left-content{
    box-shadow: 1px 1px 10px rgb(122, 120, 120);


    width:100%;
    background-color:var(--bg-color);
    border-radius: 20px;

}

.left-content .content-image{
    width: calc(100% - 34px);
}
.left-content .content-image img{
  width: 100%;
  margin: 18px;
  border-radius: 10px;


}
.left-content .lf-btn{
    background-color: #EE1D52;
    border-width: 0;
    padding: .3vw .4vw;
    font-size: 1.2vw;
    border-radius: 20px;
    color: white;
    margin:0 18px;

}
.left-content h2{
    margin: 18px;
    font-size: 2vw;
    font-weight: 900;
    color: var(--text-color);
}


.content-icon{
    display: flex;
    justify-content: space-between;
    color: var(--text-color);

}
.content-icon h4{
    color: var(--text-color);

    font-size: .9vw;
    margin:0 18px;
    display: flex;
}
.left-content p{
    color: var(--text-color);

    font-size: 1.3vw;
    font-weight: 900;
    line-height: 1.3rem;
   margin:10px 18px;
}
.content-btn{
    margin: 0px 18px;
    display: flex;
    align-items: center;
justify-content: space-between;
}
.content-btn a, .content-btn h4{
    color: var(--text-color);

    text-decoration: none;
    font-size: 1.3vw;
}
.content-btn a, .content-btn h4{
    margin-bottom: 18px;
    margin-top: 10px;
}

.left-content hr{
    margin: 0 18px;
}
